.Content-Wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Form-Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-bottom: 25px;
}

form {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 50%;
    height: 300px;
}

.form-title {
    font-size: 1.5rem;
    text-align: center;
}

input {
    margin-top: 15px;
    padding: 5px;
    border-width: 0 0 1px 0;
    border-radius: 4px;
    min-width: 200px;
    text-align: center;
}

.form-btn-wrapper {
    display: flex;
    flex-direction: column;
}


.btn-submit {
    margin-top: 30px;
    justify-self: center;
    min-width: 50px;
    padding: 5px;
    border-radius: 4px;
    background: #064420;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-submit:hover {
    background: #4CAF50;
}


.btn-cancel {
    margin-top: 5px;
    justify-self: center;
    width: 50%;
    padding: 5px;
    border-radius: 4px;
    background: #A0153E;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: #FF204E;
}

@media (width: 2560px) {
    .Form-Wrapper {
        width: 30%;
    }
}

@media (width: 1920px) {
    form {
        width: 40%;
    }
}

@media (width: 1440px) {
    form {
        width: 50%;
    }
}

@media (width: 1024px) {
    form {
        width: 60%;
    }
}

@media (width: 768px) {
    form {
        width: 80%;
    }
}

@media (width: 480px) {
    .Form-Wrapper {
        width: 100%;
    }
}