.Content-Wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Form-Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    min-width: 500px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-bottom: 25px;
}

form {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 300px;
}

.form-title {
    font-size: 1.5rem;
    text-align: center;
}

input {
    margin-top: 15px;
    padding: 5px;
    border-width: 0 0 1px 0;
    border-radius: 4px;
    min-width: 200px;
    text-align: center;
}

.form-btn-wrapper {
    display: flex;
    flex-direction: column;
}


.btn-submit {
    margin-top: 30px;
    justify-self: center;
    min-width: 50px;
    padding: 5px;
    border-radius: 4px;
    background: #e4efe7;
    border: none;
    cursor: pointer;
}

.btn-submit:hover {
    background: #b9b4c7;
}


.btn-cancel {
    margin-top: 5px;
    justify-self: center;
    width: 42%;
    padding: 5px;
    border-radius: 4px;
    background: #A0153E;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: #FF204E;
}
