.RestaurantCard {
    border-radius: 8px;
    margin: 24px 16px 0 16px;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    width: calc(85.33% - 32px); /* Breite für drei Karten in einer Reihe abzüglich des Abstands */
    height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background 0.3s ease; /* Farbwechsel beim Hover-Effekt */
}

.RestaurantTitle {
    font-size: 1.5rem;
}

.RestaurantCity {
    font-size: 1.2rem;
    margin-top: 5%;
}

.RestaurantCard:hover {
    background: #b9b4c7;
}
