.DetailRestaurantPage {
    display: flex;
    flex-direction: column;
    margin: 24px 15px 0 0;
    width: 100%;
    align-items: center;
}

.RestaurantDetail {
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    justify-content: space-between;
    border-radius: 8px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 24px;
    width: 60%;
    max-width: 900px;
}

.RestaurantDetailEdit {
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    justify-content: center;
    border-radius: 8px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 24px;
    height: 320px;
    width: 60%;
    max-width: 900px;
}

.Edit-Form-Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 500px;
}

.Edit-Button-Wrapper {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.btn-edit-save {
    justify-self: center;
    padding: 5px;
    border-radius: 4px;
    background: #064420;
    color: white;
    border: none;
    cursor: pointer;
    width: 60px;
}

.btn-edit-save:hover {
    background: #4CAF50;
}

.btn-edit-cancel {
    padding: 5px;
    border-radius: 4px;
    background: #064420;
    color: white;
    border: none;
    cursor: pointer;
    width: 60px;
}

.btn-edit-cancel:hover {
    background-color: #FF204E;
}


.DetailPage-Info-Wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 16px;
}

.DetailPage-Address-Wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ButtonWrapper {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 36px;
}

.HomeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 40px;
    border-radius: 8px;
    background: RGBA(6, 68, 32, 0.6);
    cursor: pointer;
    color: white;
    border: none;
    width: 60px;
}

.HomeButton:hover{
    background: #4CAF50;
}

.DeleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background: #A0153E;
    cursor: pointer;
    color: white;
    border: none;
    width: 60px;
}

.DeleteButton:hover {
    background: #FF204E;
}

.EditButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 40px;
    border-radius: 8px;
    background: RGBA(6, 68, 32, 0.6);
    cursor: pointer;
    color: white;
    border: none;
    width: 60px;
}

.EditButton:hover {
    background: #4CAF50;
}

#map {
    margin-top: 20px;
    margin-right: 20px;
    max-height: 250px;
    width: 50%;
}

@media screen and (max-width: 400px) {
    .RestaurantDetail {
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        padding-left: 10px;
        margin-top: 20px;
        margin-bottom: 24px;
        height: 500px;
    }

    #map {
        height: 500px;
        width: 279px;
        margin: 0 10px 20px 10px;
    }
}