.RestaurantCard {
    border: 1px solid #09097b;
    border-radius: 8px;
    padding-left: 10px;
    margin-bottom: 24px;
    background: beige;
    cursor: pointer;
}

.RestaurantCard:hover {
    background: #e1e1b1;
}