@font-face {
    font-family: "MackScript";
    src: url("../public/MarckScript-Regular.ttf") format("truetype");
}

.HeaderComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.HeaderTitle {
    font-family: "MackScript", cursive;
    font-size: 4rem;
    color: white;
    margin-top: 7px;
}

.HeaderWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HeaderLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
}


.HeaderLogo {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 16px;
}

.HeaderNavigation {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
}

.HeaderNavLink {
    background: #e4efe7;
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.HeaderNavLink:hover {
    background: #b9b4c7;
}


@media (max-width: 600px) {
    .HeaderComponent {
        flex-direction: column;
    }

    .HeaderWrapper {
        flex-direction: column;
    }

    .HeaderNavigation {
        flex-direction: column;
    }
}

/* Für Bildschirme mit einer Breite von 601px bis 900px */
@media (min-width: 601px) and (max-width: 900px) {
    .HeaderComponent {
        flex-direction: row;
    }

    .HeaderWrapper {
        flex-direction: row;
    }

    .HeaderNavigation {
        flex-direction: row;
    }
}

/* Für Bildschirme mit einer Breite von mehr als 900px */
@media (min-width: 901px) {
    .HeaderComponent {
        flex-direction: column;
    }

    .HeaderWrapper {
        flex-direction: row;
    }

    .HeaderNavigation {
        flex-direction: row;
    }
}