@font-face {
    font-family: "MackScript";
    src: url("../public/MarckScript-Regular.ttf") format("truetype");
}

.HeaderComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.HeaderTitle {
    font-family: "MackScript", cursive;
    font-size: 4rem;
    color: white;
    margin-top: 7px;
}

.HeaderWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HeaderLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
}

.HeaderLogo {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 16px;
}

.HeaderNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
}

.HeaderNavLink {
    text-decoration: none;
    color: white;
}
