* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../public/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: center;
  background: RGBA(6, 68, 32, 0.6);
}
