* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Heiti TC", sans-serif;
}

body {
  background-image: url("../public/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: center;
}
