body,:root{
  background-image: url("../public/dinner-5537679_1920.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  margin: 0;
}